@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Mios Barber Shop</h1>
    <p class="lead">Estamos ubicados en el centro geográfico de Tijuana,
    somo el lugar perfecto para un gran cambio de imagen con un solo 
    corte de cabello, ven y dejanos consentirte a manos de nuestros mejores barberos..</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="card mb-2">
            <div class="card-header bg-info py-2">
                <h2>Hacerca de</h2>
            </div>
            <div class="col l4 offset-l2 s12">
                <p>
                    Somo una empresa dedicada a mejorar la imagen de nuestros clientes
                    con los mejores barberos de tijuana, contamos con productos de calidad
                    ven a visitarnos...!
                </p>
                <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
            </div>
            </div>
        </div>
            <div class="col-md-4">
                <div class="card mb-2">
                    <div class="card-header bg-info py-2">
                        <h2>Invitacion</h2>
                    </div>
                    <div class="col l4 offset-l2 s12">
                        <p>
                            ¡Gran batalla de famosos!

                            Por inauguración y aniversario Mios Barber Shop Suc, Pacifico te invita a su primer dia de apertura contaremos con
                            grandes promociones , diferentes dinamicas ademas estaremos regalando corte gratis a las primeras 10 personas en llegar
                            ven a conocernos no te lo puedes perde..!
                        </p>
                        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-2">
                    <div class="card-header bg-info py-2">
                        <h2>localización</h2>
                    </div>
                    <div class="col l4 offset-l2 s12">
                        <h5 class="white-text">Maps</h5>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3363.6793765797893!2d-117.04291763545277!3d32.534709181045905!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80d9491305bd7c7b%3A0x38e0456268bfa3ed!2sPLAZA%20DE%20LA%20TECNOLOG%C3%8DA!5e0!3m2!1ses!2smx!4v1588974877121!5m2!1ses!2smx" width="400" height="300" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                    </div>
                </div>
            </div>

